table { border-spacing: 1px; }
table table { width: 100%; border-spacing: 0; }
caption {
   background-color: #483d8b; color: white;
   font-size: larger;
   text-shadow: 2px 2px 2px black;
   -moz-border-radius: 4px; -webkit-border-radius: 4px;
}
caption div { text-shadow: 0 0 0; }

th { background-color: #6495ed; color: white; }
td { padding: 0; font-family: monospace; }
table table td { border-right: 1px solid white; }

ol {
   background-color: #e0ffff;
   margin: 1ex 2em 1ex 4em;
}

td.comment { white-space: pre; color: gray; display: none; }
pre.comment { margin: 0; color: gray; }

.line {
   background-color: #e0e0e0;
   min-width: 1em;
   text-align: right;
   padding-left: 1px; padding-right: 1px;
   border-right: #a0a0a0 solid 1px;
}
.count {
   background-color: yellow;
   min-width: 1em;
   text-align: right;
   padding-left: 2px; padding-right: 1px;
   border-right: #aaaa00 solid 1px;
}

.covered { background-color: #90ee90; }
.uncovered { background-color: #f08080; }

.instance { font-weight: bold; }
.static { font-weight: bold; font-style: italic; }

td.package, td.file {
   background-color: #e0e0e0; padding: 2px; border-bottom: white solid 1px;
}
.click { cursor: pointer; }
td.file { white-space: pre; }

td.coverage {
   font-weight: bolder; width: 3em; text-align: right;
   border-bottom: white solid 1px;
}

.total td {
   text-align: right; font-weight: bold; background-color: #e0e0e0;
   border-bottom: none;
}

td.unknown { background-color: #daa520; text-align: center; }
td.nocode { background-color: #999999; text-align: center; }

pre.jmp { background-color: #f8ebb8; }

.cp { cursor: pointer; }

td.paths {
   padding-left: 1px; padding-bottom: 2px;
   font-family: sans-serif; font-size: small;
}
.paths span {
   outline: blue solid 1px;
   padding-left: 2px; padding-right: 2px;
   cursor: help;
}