<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.3"?>
<plugin>

	<!-- preference -->
	<extension point="org.eclipse.ui.preferencePages">
		<page
			class="org.junithelper.plugin.page.PreferencePage"
			id="org.junithelper.plugin.page.PreferencePage"
			name="JUnit Helper"/>
	</extension>

	<extension point="org.eclipse.core.runtime.preferences">
		<initializer 
			class="org.junithelper.plugin.page.PreferencePageInitializer" />
	</extension>

	<!-- command -->
	<extension point="org.eclipse.ui.commands">
		<category
			id="org.junithelper.plugin.category"
			name="JUnit Helper">
		</category>
		<command
			id="org.junithelper.plugin.action.Force3TestCaseActionCommand"
			categoryId="org.junithelper.plugin.category"
			name="Force JUnit 3.x">
		</command>
		<command
			id="org.junithelper.plugin.action.Force4TestCaseActionCommand"
			categoryId="org.junithelper.plugin.category"
			name="Force JUnit 4.x">
		</command>
		<command
			id="org.junithelper.plugin.action.OpenTestCaseActionCommand"
			categoryId="org.junithelper.plugin.category"
			name="Open Test Class">
		</command>
		<command
			id="org.junithelper.plugin.action.OpenTestTargetActionCommand"
			categoryId="org.junithelper.plugin.category"
			name="Open Test Target">
		</command>
	</extension>

	<extension
		point="org.eclipse.ui.handlers">
		<handler
			class="org.junithelper.plugin.handler.Force3TestCaseHandler"
			commandId="org.junithelper.plugin.action.Force3TestCaseActionCommand" >
		</handler>
		<handler
			class="org.junithelper.plugin.handler.Force4TestCaseHandler"
			commandId="org.junithelper.plugin.action.Force4TestCaseActionCommand" >
		</handler>
		<handler
			class="org.junithelper.plugin.handler.OpenTestCaseHandler"
			commandId="org.junithelper.plugin.action.OpenTestCaseActionCommand" >
		</handler>
		<handler
			class="org.junithelper.plugin.handler.OpenTestTargetHandler"
			commandId="org.junithelper.plugin.action.OpenTestTargetActionCommand" >
		</handler>
	</extension>

	<extension
		point="org.eclipse.ui.bindings">
		<key
			commandId="org.junithelper.plugin.action.Force3TestCaseActionCommand"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			sequence="M3+3">
		</key>
		<key
			commandId="org.junithelper.plugin.action.Force4TestCaseActionCommand"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			sequence="M3+4">
		</key>
		<key
			commandId="org.junithelper.plugin.action.OpenTestTargetActionCommand"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			sequence="M3+8">
		</key>
		<key
			commandId="org.junithelper.plugin.action.OpenTestCaseActionCommand"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			sequence="M3+9">
		</key>
	</extension>

	<!-- create new test class -->
	<extension point="org.eclipse.ui.popupMenus">

	<!-- package explorer -->
	<objectContribution
		id="org.junithelper.plugin.popupmenu.contribution.pe"
		objectClass="org.eclipse.jdt.core.IJavaElement">
		<menu
			id="org.junithelper.plugin.popupmenu.pe"
			label="JUnit Helper"
			path="additions">
		</menu>
		<action
			label="Force JUnit 3.x Style Alt+3"
			class="org.junithelper.plugin.action.Force3TestCaseAction"
			id="org.junithelper.plugin.action.Force3TestCaseAction.pe"
			menubarPath="org.junithelper.plugin.popupmenu.pe/additions" >
		</action>
		<action
			label="Force JUnit 4.x Style Alt+4"
			class="org.junithelper.plugin.action.Force4TestCaseAction"
			id="org.junithelper.plugin.action.Force4TestCaseAction.pe"
			menubarPath="org.junithelper.plugin.popupmenu.pe/additions" >
		</action>
		<action
			label="Open Test Target Alt+8"
			class="org.junithelper.plugin.action.OpenTestTargetAction"
			id="org.junithelper.plugin.action.OpenTestTargetAction.pe"
			menubarPath="org.junithelper.plugin.popupmenu.pe/additions">
		</action>
		<action
			label="Open Test Class Alt+9"
			class="org.junithelper.plugin.action.OpenTestCaseAction"
			id="org.junithelper.plugin.action.OpenTestCaseAction.pe"
			menubarPath="org.junithelper.plugin.popupmenu.pe/additions" >
		</action>
	</objectContribution>

	<!-- navigator -->
	<objectContribution
		id="org.junithelper.plugin.popupmenu.contribution.nv"
		nameFilter="*.java"
		objectClass="org.eclipse.core.resources.IFile">
		<menu
			id="org.junithelper.plugin.popupmenu.nv"
			label="JUnit Helper"
			path="additions">
		</menu>
		<action
			label="Force JUnit 3.x Style Alt+3"
			class="org.junithelper.plugin.action.Force3TestCaseAction"
			id="org.junithelper.plugin.action.Force3TestCaseAction.nv"
			menubarPath="org.junithelper.plugin.popupmenu.nv/additions" >
		</action>
		<action
			label="Force JUnit 4.x Style Alt+4"
			class="org.junithelper.plugin.action.Force4TestCaseAction"
			id="org.junithelper.plugin.action.Force4TestCaseAction.nv"
			menubarPath="org.junithelper.plugin.popupmenu.nv/additions" >
		</action>
		<action
			label="Open Test Target Alt+8"
			class="org.junithelper.plugin.action.OpenTestTargetAction"
			id="org.junithelper.plugin.action.OpenTestTargetAction.nv"
			menubarPath="org.junithelper.plugin.popupmenu.nv/additions">
		</action>
		<action
			label="Open Test Class Alt+9"
			class="org.junithelper.plugin.action.OpenTestCaseAction"
			id="org.junithelper.plugin.action.OpenTestCaseAction.nv"
			menubarPath="org.junithelper.plugin.popupmenu.nv/additions" >
		</action>
	</objectContribution>

	<!-- java editor -->
	<viewerContribution
		targetID="#CompilationUnitEditorContext"
		id="org.junithelper.plugin.popupmenu.contribution.je">
		<menu
			id="org.junithelper.plugin.popupmenu.je"
			label="JUnit Helper"
			path="additions">
		</menu>
		<action
			label="Force JUnit 3 Style Alt+3"
			class="org.junithelper.plugin.action.Force3TestCaseAction"
			id="org.junithelper.plugin.action.Force3TestCaseAction.je"
			menubarPath="org.junithelper.plugin.popupmenu.je/additions" >
		</action>
		<action
			label="Force JUnit 4.x Style Alt+4"
			class="org.junithelper.plugin.action.Force4TestCaseAction"
			id="org.junithelper.plugin.action.Force4TestCaseAction.je"
			menubarPath="org.junithelper.plugin.popupmenu.je/additions" >
		</action>
		<action
			label="Open Test Target Alt+8"
			class="org.junithelper.plugin.action.OpenTestTargetAction"
			id="org.junithelper.plugin.action.OpenTestTargetAction.je"
			menubarPath="org.junithelper.plugin.popupmenu.je/additions" >
		</action>
		<action
			label="Open Test Class Alt+9"
			class="org.junithelper.plugin.action.OpenTestCaseAction"
			id="org.junithelper.plugin.action.OpenTestCaseAction.je"
			menubarPath="org.junithelper.plugin.popupmenu.je/additions" >
		</action>
	</viewerContribution>

	</extension>

	<!--
	<extension-point id="org.eclipse.ui.views" name="org.eclipse.ui.views"/>
	-->

	<!--
	<extension
		point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="menu:org.eclipse.ui.main.menu?after=additions">
			<menu
				label="JUnit Helper"
				mnemonic="M"
				id="org.junithelper.plugin.menu.JUnitHelperMenu">
				<command
					commandId="org.junithelper.plugin.action.OpenTestCaseActionCommand"
					mnemonic="U"
					id="org.junithelper.plugin.action.OpenTestCaseActionCommand">
				</command>
			</menu>
		</menuContribution>
	</extension>
	-->

</plugin>
