<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="org.eclipse.ui.views" name="org.eclipse.ui.views"/>

   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.googlecode.plugin.junithelper.command.category"
            name="JUnit Helper">
      </category>
      <command
            id="com.googlecode.plugin.junithelper.action.OpenTestCaseActionCommand"
            categoryId="com.googlecode.plugin.junithelper.command.category"
            name="Open Test Class">
      </command>
      <command
            id="com.googlecode.plugin.junithelper.action.OpenTestTargetActionCommand"
            categoryId="com.googlecode.plugin.junithelper.command.category"
            name="Open Test Target">
      </command>
   </extension>
   
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.googlecode.plugin.junithelper.handler.OpenTestCaseHandler"
            commandId="com.googlecode.plugin.junithelper.action.OpenTestCaseActionCommand" >
      </handler>
      <handler
            class="com.googlecode.plugin.junithelper.handler.OpenTestTargetHandler"
            commandId="com.googlecode.plugin.junithelper.action.OpenTestTargetActionCommand" >
      </handler>
   </extension>
   
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.googlecode.plugin.junithelper.action.OpenTestCaseActionCommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+8">
      </key>
      <key
            commandId="com.googlecode.plugin.junithelper.action.OpenTestTargetActionCommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+9">
      </key>
   </extension>
   
   <!--
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="JUnit Helper"
               mnemonic="M"
               id="com.googlecode.plugin.junithelper.menu.JUnitHelperMenu">
            <command
                  commandId="com.googlecode.plugin.junithelper.action.OpenTestCaseActionCommand"
                  mnemonic="U"
                  id="com.googlecode.plugin.junithelper.action.OpenTestCaseActionCommand">
            </command>
         </menu>
      </menuContribution>
   </extension>
   -->
   
   <!--
   <extension point="org.eclipse.ui.preferencePages">
      <page
            category="JUnit Helper"
            class="com.googlecode.plugin.junithelper.page.JUnitHelperPreferencePage"
            id="com.googlecode.plugin.junithelper.page.JUnitHelperPreferencePage"
            name="JUnit Helper"/>
   </extension>

   <extension point="org.eclipse.core.runtime.preferences">
      <initializer 
      		class="com.googlecode.plugin.junithelper.page.JUnitHelperPreferencePageInitializer"
      	/>
   </extension>
   -->

	<!-- create new test class -->
	<extension point="org.eclipse.ui.popupMenus">

		<!-- package explorer -->
		<objectContribution
			id="com.googlecode.plugin.junithelper.popupmenu.contribution"
			objectClass="org.eclipse.jdt.core.IJavaElement">
			<menu
				id="com.googlecode.plugin.junithelper.popupmenu"
				label="JUnit Helper"
				path="additions">
			</menu>
			<action
		         class="com.googlecode.plugin.junithelper.action.OpenTestCaseAction"
		         id="com.googlecode.plugin.junithelper.action.OpenTestCaseAction.object"
		         label="Open Test Class Ctrl+8"
		         menubarPath="com.googlecode.plugin.junithelper.popupmenu/additions" >
			</action>
			<action
				label="Open Test Target Ctrl+9"
				class="com.googlecode.plugin.junithelper.action.OpenTestCaseAction"
				id="com.googlecode.plugin.junithelper.action.OpenTestTargetAction.viewer">
			</action>
		</objectContribution>

		<!-- navigator -->
		<objectContribution
			id="com.googlecode.plugin.junithelper.popupmenu.contribution"
			nameFilter="*.java"
			objectClass="org.eclipse.core.resource.IResource">
			<menu
				id="com.googlecode.plugin.junithelper.popupmenu"
				label="JUnit Helper"
				path="additions">
			</menu>
			<action
		         class="com.googlecode.plugin.junithelper.action.OpenTestCaseAction"
		         id="com.googlecode.plugin.junithelper.action.OpenTestCaseAction.object"
		         label="Open Test Class Ctrl+8"
		         menubarPath="com.googlecode.plugin.junithelper.popupmenu/additions" >
			</action>
			<action
				label="Open Test Target Ctrl+9"
				class="com.googlecode.plugin.junithelper.action.OpenTestCaseAction"
				id="com.googlecode.plugin.junithelper.action.OpenTestTargetAction.viewer">
			</action>
		</objectContribution>

		<!-- java editor -->
		<viewerContribution
			targetID="#CompilationUnitEditorContext"
			id="com.googlecode.plugin.junithelper.test.framework.create">
			<action
				label="Open Test Class Ctrl+8"
				class="com.googlecode.plugin.junithelper.action.OpenTestCaseAction"
				id="com.googlecode.plugin.junithelper.action.OpenTestCaseAction.viewer">
			</action>
			<action
				label="Open Test Target Ctrl+9"
				class="com.googlecode.plugin.junithelper.action.OpenTestCaseAction"
				id="com.googlecode.plugin.junithelper.action.OpenTestTargetAction.viewer">
			</action>
		</viewerContribution>

	</extension>

</plugin>
